In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("./hell.csv")

In [4]:
data

,Unnamed: 0,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,...,color,weight,budget,height,city,state,country,weight_cat,birth_year_cat,hasCar
0,0,U1001,22.139997,-100.978803,False,abstemious,informal,family,on foot,single,...,black,69,medium,1.77,San Luis Potosí,San Luis Potosí,México,59-69,1986-1994,nocar
1,1,U1002,22.150087,-100.983325,False,abstemious,informal,family,public,single,...,red,40,low,1.87,San Luis Potosí,San Luis Potosí,México,39-49,1986-1994,nocar
2,2,U1003,22.119847,-100.946527,False,social drinker,formal,family,public,single,...,blue,60,low,1.69,San Luis Potosí,San Luis Potosí,México,59-69,1986-1994,nocar
3,3,U1004,18.867000,-99.183000,False,abstemious,informal,family,public,single,...,green,44,medium,1.53,notKnow,Morelos,México,39-49,1938-1946,nocar
4,4,U1005,22.183477,-100.959891,False,abstemious,no preference,family,public,single,...,black,65,medium,1.69,notKnow,San Luis Potosí,México,59-69,1986-1994,nocar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,133,U1134,22.149654,-100.998610,False,casual drinker,no preference,family,public,single,...,black,52,medium,1.65,San Luis Potosí,San Luis Potosí,México,49-59,1986-1994,nocar
134,134,U1135,22.170396,-100.949936,False,casual drinker,informal,family,on foot,single,...,purple,66,low,1.54,notKnow,San Luis Potosí,México,59-69,1986-1994,nocar
135,135,U1136,22.149607,-100.997235,True,social drinker,no preference,friends,car owner,single,...,black,50,low,1.60,San Luis Potosí,San Luis Potosí,México,49-59,1986-1994,car owner
136,136,U1137,22.144803,-100.944623,False,social drinker,formal,family,public,single,...,blue,72,low,1.78,San Luis Potosí,San Luis Potosí,México,69-79,1986-1994,nocar
137,137,U1138,22.152884,-100.939663,False,social drinker,formal,friends,public,single,...,blue,54,medium,1.55,notKnow,San Luis Potosí,México,49-59,1986-1994,nocar

In [7]:
data.describe()

       Unnamed: 0    latitude   longitude   birth_year      weight      height
count  138.000000  138.000000  138.000000   138.000000  138.000000  138.000000
mean    68.500000   21.810389 -100.291857  1984.702899   64.869565    1.667536
std     39.981246    1.552529    0.869916    14.655364   17.214332    0.130473
min      0.000000   18.813348 -101.054680  1930.000000   40.000000    1.200000
25%     34.250000   22.126030 -100.983000  1987.000000   53.000000    1.600000
50%     68.500000   22.150497 -100.937788  1989.000000   65.000000    1.690000
75%    102.750000   22.186642  -99.183251  1991.000000   74.750000    1.750000
max    137.000000   23.771030  -99.067106  1994.000000  120.000000    2.000000

In [8]:
data.describe(include='all')

,Unnamed: 0,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,...,color,weight,budget,height,city,state,country,weight_cat,birth_year_cat,hasCar
count,138.000000,138,138.000000,138.000000,138,138,138,138,138,138,...,138,138.000000,138,138.000000,138,138,138,138,131,138
unique,NaN,138,NaN,NaN,2,3,4,3,3,3,...,8,NaN,3,NaN,6,4,1,9,5,2
top,NaN,U1001,NaN,NaN,False,abstemious,no preference,family,public,single,...,blue,NaN,medium,NaN,San Luis Potosí,San Luis Potosí,México,59-69,1986-1994,nocar
freq,NaN,1,NaN,NaN,112,51,58,76,89,126,...,45,NaN,98,NaN,70,86,138,40,110,103
mean,68.500000,NaN,21.810389,-100.291857,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,64.869565,NaN,1.667536,NaN,NaN,NaN,NaN,NaN,NaN
std,39.981246,NaN,1.552529,0.869916,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17.214332,NaN,0.130473,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,18.813348,-101.054680,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.000000,NaN,1.200000,NaN,NaN,NaN,NaN,NaN,NaN
25%,34.250000,NaN,22.126030,-100.983000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,53.000000,NaN,1.600000,NaN,NaN,NaN,NaN,NaN,NaN
50%,68.500000,NaN,22.150497,-100.937788,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,65.000000,NaN,1.690000,NaN,NaN,NaN,NaN,NaN,NaN
75%,102.750000,NaN,22.186642,-99.183251,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,74.750000,NaN,1.750000,NaN,NaN,NaN,NaN,NaN,NaN
max,137.000000,NaN,23.771030,-99.067106,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,120.000000,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN